	#v0{ clip-path:url(#c1);}
	#v0 {-moz-transform: scale(0.5, 0.5);  -moz-transform-origin: 0 0;}
	#v0 {-webkit-transform: scale(0.5, 0.5);  -webkit-transform-origin: 0 0;}
	#v0[f="feBlendNormal"] { filter:url(#feBlendNormal);}
	#v0[f="feBlendMultiply"] { filter:url(#feBlendMultiply);}
	#v0[f="feBlendScreen"] { filter:url(#feBlendScreen);}
	#v0[f="feBlendDarken"] { filter:url(#feBlendDarken);}
	#v0[f="feBlendLighten"] { filter:url(#feBlendLighten);}
        #v0[f="feColorMatrix"] { filter:url(#feColorMatrix);}
        #v0[f="lights"] { filter:url(#lights);}
	#v0[f="feComponentTransfer"] { filter:url(#feComponentTransfer);}
        #v0[f="2"] { filter:url(#f3);}
        #v0[f="3"] { filter:url(#f4);}
        #v0[f="4"] { filter:url(#f5);}
        #v0[f="5"] { filter:url(#f6);}
        #v0[f="6"] { filter:url(#f7);}s
        #v0[f="7"] { filter:url(#f8);}
        #v0[f="8"] { filter:url(#f9);}
        #v0[f="9"] { filter:url(#f10);}
        #v0[f="10"] { filter:url(#f11);}
        #v0[f="11"] { filter:url(#f12);}
